In [1]:
import pandas as pd
import numpy as np

#import warnings
#warnings.filterwarnings('ignore')

from collections import Counter

In [2]:
df_train = pd.read_csv("train.csv")
print(df_train.shape)
df_train.head()

(1460, 81)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [3]:
df_test = pd.read_csv('test.csv')
print(df_test.shape)
df_test.head()

(1459, 80)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [17]:
df = df_train.append(df_test,sort=False)
df.shape

(2919, 81)

In [18]:
#print("NA Values\n")
#for col in df.columns:
#    print("{} : {}".format(col,len(df[df[col].isna()])))

In [19]:
#lets fill na values
from sklearn.preprocessing import LabelEncoder
df.MSZoning.fillna('RL',inplace=True)

df.LotFrontage = df.LotFrontage.astype('float')
df.LotArea = df.LotArea.astype('float')

#LotFrontage
print("Mean : {}, Max : {}, Min : {}, Std : {}".format(
    np.mean(df.LotFrontage),np.max(df.LotFrontage),np.min(df.LotFrontage),np.std(df.LotFrontage)))
df.LotFrontage.fillna(np.mean(df.LotFrontage),inplace=True)
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df.LotFrontage = scaler.fit_transform(np.array(df.LotFrontage).reshape(-1,1)).reshape(1,-1)[0]

#LotArea
print("Mean : {}, Max : {}, Min : {}, Std : {}".format(
    np.mean(df.LotArea),np.max(df.LotArea),np.min(df.LotArea),np.std(df.LotArea)))
df.LotArea.fillna(np.mean(df.LotArea),inplace=True)
df.LotArea = scaler.fit_transform(np.array(df.LotArea).reshape(-1,1)).reshape(1,-1)[0]

Mean : 69.30579531442663, Max : 313.0, Min : 21.0, Std : 23.34010665843215
Mean : 10168.11408016444, Max : 215245.0, Min : 1300.0, Std : 7885.645267642259

In [20]:
#Alley
print("Alley: {}".format(Counter(df.Alley)))
df.Alley.fillna("NA",inplace=True)

#Utilities
print("Utilities: {}".format(Counter(df.Utilities)))
df.Utilities.fillna("AllPub",inplace=True)

Alley: Counter({nan: 2721, 'Grvl': 120, 'Pave': 78})
Utilities: Counter({'AllPub': 2916, nan: 2, 'NoSeWa': 1})

In [21]:
#YearBuilt and YearRemodAdd to continuos variables
df.YearBuilt = df.YearBuilt - np.min(df.YearBuilt)
df.YearBuilt = df.YearBuilt.astype('float')
df.YearRemodAdd = df.YearRemodAdd - np.min(df.YearRemodAdd)

df.YearRemodAdd = df.YearRemodAdd.astype('float')
df.YearBuilt = scaler.fit_transform(np.array(df.YearBuilt).reshape(-1,1)).reshape(1,-1)[0]
df.YearRemodAdd = scaler.fit_transform(np.array(df.YearRemodAdd).reshape(-1,1)).reshape(1,-1)[0]

/home/aditya/.conda/envs/py3k/lib/python3.6/site-packages/sklearn/utils/validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [23]:
"""
Exterior1st,Exterior2nd,MasVnrType,MasVnrArea
"""
print("Exterior1st: {}".format(Counter(df.Exterior1st)))
print("Exterior2nd: {}".format(Counter(df.Exterior2nd)))
print("MasVnrType: {}".format(Counter(df.MasVnrType)))
print("MasVnrArea : Mean : {}, Max : {}, Min : {}, Std : {}".format(
    np.mean(df.MasVnrArea),np.max(df.MasVnrArea),np.min(df.MasVnrArea),np.std(df.MasVnrArea)))


df.Exterior1st.fillna('VinylSd',inplace=True)
df.Exterior2nd.fillna('VinylSd',inplace=True)
df.MasVnrType.fillna('None',inplace=True)
df.MasVnrArea.fillna(np.mean(df.MasVnrArea),inplace=True)

Exterior1st: Counter({'VinylSd': 1025, 'MetalSd': 450, 'HdBoard': 442, 'Wd Sdng': 411, 'Plywood': 221, 'CemntBd': 126, 'BrkFace': 87, 'WdShing': 56, 'AsbShng': 44, 'Stucco': 43, 'BrkComm': 6, 'AsphShn': 2, 'Stone': 2, 'CBlock': 2, 'ImStucc': 1, nan: 1})
Exterior2nd: Counter({'VinylSd': 1014, 'MetalSd': 447, 'HdBoard': 406, 'Wd Sdng': 392, 'Plywood': 270, 'CmentBd': 126, 'Wd Shng': 80, 'BrkFace': 47, 'Stucco': 47, 'AsbShng': 38, 'Brk Cmn': 22, 'ImStucc': 15, 'Stone': 6, 'AsphShn': 4, 'CBlock': 3, 'Other': 1, nan: 1})
MasVnrType: Counter({'None': 1742, 'BrkFace': 879, 'Stone': 249, 'BrkCmn': 25, nan: 24})
Mean : 102.20131215469613, Max : 1600.0, Min : 0.0, Std : 179.30328795887263

In [24]:
"""
BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1
Nan means no basement
"""
print("BsmtQual: {}".format(Counter(df.BsmtQual)))
print("BsmtCond: {}".format(Counter(df.BsmtCond)))
print("BsmtExposure: {}".format(Counter(df.BsmtExposure)))
print("BsmtFinType1: {}".format(Counter(df.BsmtFinType1)))

df.BsmtQual.fillna('NA',inplace=True)
df.BsmtCond.fillna('NA',inplace=True)
df.BsmtExposure.fillna('NA',inplace=True)
df.BsmtFinType1.fillna('NA',inplace=True)

BsmtQual: Counter({'TA': 1283, 'Gd': 1209, 'Ex': 258, 'Fa': 88, nan: 81})
BsmtCond: Counter({'TA': 2606, 'Gd': 122, 'Fa': 104, nan: 82, 'Po': 5})
BsmtExposure: Counter({'No': 1904, 'Av': 418, 'Gd': 276, 'Mn': 239, nan: 82})
BsmtFinType1: Counter({'Unf': 851, 'GLQ': 849, 'ALQ': 429, 'Rec': 288, 'BLQ': 269, 'LwQ': 154, nan: 79})

In [15]:
categorical_features=["MSSubClass","MSZoning","Street","Alley","LotShape","LandContour","Utilities","LotConfig",
                        "LandSlope","Neighborhood","Condition1","Condition2","BldgType","HouseStyle","OverallQual",
                      "OverallCond","RoofStyle","RoofMatl","Exterior1st","Exterior2nd","MasVnrType","ExterQual",
                     "ExterCond","Foundation","BsmtQual","BsmtCond","BsmtExposure","BsmtFinType1"]

In [ ]:
from catboost import CatBoostRegressor
X_